
.ingredient_image{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  /* object-fit: cover; */
}
.image_wrapper{
  height: 100px;
  width: 100px;
}
.row{
  width: 80%;
  margin: 0px auto;
  padding: 15px;
  align-items: center;
}
.text-right{
  text-align: right;
}